<?xml version="1.0"?>

<launch>

  <!-- robot model -->
  <!--<arg name="urdf_file" default="$(find xacro)/xacro.py '$(find whill_next_description)/urdf/robot.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" /> -->
  
  <!-- tf -->
  <node pkg="tf" type="static_transform_publisher" name="base_frame_2_laser_link" args="0.0 0 0 3.14 0 0 red_bot/base_link red_bot/laser 100" />

  <!-- Map server -->
  <arg name="map_file" default="$(find onigiri_navigation)/maps/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
  </node>

  <!-- AMCL -->
  <include file="$(find onigiri_navigation)/launch/amcl.launch.xml"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find onigiri_navigation)/launch/rviz_cfg.rviz"/>

  <!-- move_base --> 
  <arg name="cmd_vel_topic" default="red_bot/cmd_vel"/>
  <arg name="odom_topic" default="red_bot/odom" />
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find onigiri_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find onigiri_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find onigiri_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find onigiri_navigation)/param/global_costmap_params.yaml" command="load" />
   <!-- <rosparam file="$(find onigiri_navigation)/param/base_local_planner_params.yaml" command="load" /> -->
    <rosparam file="$(find onigiri_navigation)/param/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find onigiri_navigation)/param/move_base_params.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
  </node>
</launch>

